*,
*::before,
*::after {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
} 

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: #f3f4f6;
    color: #333;
    flex-direction: column;
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
} 

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(15px);
}

#app {
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h1, h2 {
    font-size: 24px;
    color: #000;
}

p {
    font-size: 16px;
    color: #000;
}



#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.tag-label {
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000;
    border: 2px solid transparent;
}

.tag-label input {
    display: none;
}

.tag-label:hover {
    filter: brightness(90%);
}


.tag-label input:checked + span {
    background-color: #f3f4f6 !important;
    color: #333 !important;
    border-color: #ccc;
}

.spinner {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #007BFF;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
footer {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
